<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>ToPlay</h1>
        <nav>
            <a href="/usuarios">Usuários</a>
            <a href="/jogos">Jogos</a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
</body>
</html>