<h1>{{jogo.titulo}} - Conquistas</h1>

<a href="/jogos/{{jogo.id}}/novaConquista">Cadastrar uma nova conquista</a>

<table border="1">
  <tr>
    <th>Título</th>
    <th>Descrição</th>
  </tr>
  {{#each conquistas}}
    <tr>
      <td>{{this.titulo}}</td>
      <td>{{this.descricao}}</td>
    </tr>
  {{/each}}
</table>