    <h1>Cadastre-se</h1>
    <form action="/usuarios/novo" method="post">
<div>
    <label for="nickname">Nickname:</label>
</div>
<div>
    <label for="nome">Nome:</label>
</div>
        <input type="submit" value="Cadastrar" />
