<h1> Cadastre seu cartão</h1>
<form action="/usuarios/{{id}}/novoCartao" method="post">

  <div>
    <label for="numero">Número</label>
    <input type="text" minlength="16" maxlength="16" id="numero" name="numero"/>
  </div>
  <div>
    <label for="nome">Nome</label>
    <input type="text" maxlength="30" id="nome" name="nome" value="{{usuario.nome}}"/>
  </div>
  <div>
    <label for="cvv">Código de Segurança</label>
    <input type="number" minlength="3" maxlength="3" id="cvv" name="cvv" />
  </div>

  <input type="submit" value="Cadastrar" />

</form>