<h1> Cadastre sua conquista</h1>
<form action="/jogos/{{id}}/novaConquista" method="post">

  <div>
    <label for="titulo">Título</label>
    <input type="text" id="titulo" name="titulo"/>
  </div>
  <div>
    <label for="descricao">Descrição</label>
    <input type="text" id="descricao" name="descricao"/>
  </div>

  <input type="submit" value="Cadastrar" />

</form>